# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.vscode

# Build directories
/build/
/out/
/target/
*.class

# IDE
.idea/
*.iml
*.iws
*.ipr

# Dependencies
*.jar
*.war

# Logs
*.log
